# File .github/workflows/secrets-update.yml
# DESCRIPTION: repos cannot use ORGANIZATION's secrets/vars on the free organization plan
#              as is a workaround, this action sync's repo secrets with a list of repositories
# ${secrets.WLGDEV_TEMPLATE_SECRETS_SYNC_PAT} - required to have "repo" access for USER_PAT token

on:
  workflow_dispatch:

env:
  OWNER_NAME: "wlgdev"
  REPOSITORIES: >
    \"cover\",
    \"wlgbot-tg\" \

jobs:
  setup:
    if: ${{ startsWith(github.repository, 'wlgdev/template-') }}
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.project }}
    steps:
      - name: Setup
        id: matrix
        run: |
          echo "project=[ ${{ env.REPOSITORIES }} ]" >> $GITHUB_OUTPUT
  update:
    needs:
      - setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ${{ fromJSON(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - name: update variables
        run: |
          gh variable set TEST_VAR --body "Set from workflow" --repo https://github.com/${{ env.OWNER_NAME }}/${{ matrix.project }}
        env:
          GITHUB_TOKEN: ${{ secrets.WLGDEV_TEMPLATE_SECRETS_SYNC_PAT }}
#      - name: update secrets
#        run: |
#          gh secret set SYNCAPP_APP_ID        --body ${{ secrets.SYNCAPP_APP_ID }}        --repo https://github.com/${{ env.OWNER_NAME }}/${{ matrix.project }}
#          gh secret set SYNCAPP_CLIENT_ID     --body ${{ secrets.SYNCAPP_CLIENT_ID }}     --repo https://github.com/${{ env.OWNER_NAME }}/${{ matrix.project }}
#          gh secret set SYNCAPP_CLIENT_SECRET --body ${{ secrets.SYNCAPP_CLIENT_SECRET }} --repo https://github.com/${{ env.OWNER_NAME }}/${{ matrix.project }}
#          gh secret set SYNCAPP_PRIVATE_KEY   --repo https://github.com/${{ env.OWNER_NAME }}/${{ matrix.project }} < <(cat <<EOF
#          ${{ secrets.SYNCAPP_PRIVATE_KEY }}
#          EOF
#          )
#        env:
#          GITHUB_TOKEN: ${{ secrets.WLGDEV_TEMPLATE_SECRETS_SYNC_PAT }}